.container-dialogue {
	background-color: rgba(0, 0, 0, 0.836);
	margin-left: 25px;
	height: 75vh;
	width: 70vw;
	border-radius: 50px;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-right: 38px;
}


