.input-email{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQMN0I_hI-UJV4DPVCbNWHaCYHxivy4q6Y7jA&usqp=CAU");
  background-repeat: no-repeat; /*Убираем повтор изображения*/
	background-position: 4px; /*Позиционируем*/
	background-size: 20px;
	padding-left: 35px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
}

.input-phone{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTuxyLNTgB6WzdoiwKIkgqxx1CLf6eDjAMrAA&usqp=CAU");
  background-repeat: no-repeat; /*Убираем повтор изображения*/
	background-position: 4px; /*Позиционируем*/
	background-size: 20px;
	padding-left: 35px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
}
